Package: com.swiftss.qdreaderautocheckin
Name: 起点签到去广告
Version: 1.3.8
Architecture: iphoneos-arm
Description: Run the attributed QDReader check-in script and suppress launch and bookshelf-top promotions.
Maintainer: swiftss
Author: swiftss
Section: Tweaks
Depends: mobilesubstrate
