Package: com.swiftss.telegramsystemdns
Name: Telegram System DNS
Version: 1.1.0
Architecture: iphoneos-arm64e
Description: Adds system DNS proxy resolution and a simplified Telegram home screen.
Maintainer: swiftss
Author: swiftss
Section: Tweaks
Depends: mobilesubstrate
